@charset "utf-8";

*{
	padding:0;
	margin:0;
	
}

.left_pages
{
margin-left:220px;
}


.container
{
width:950px;
background-color:#000;
margin:0 auto;
height: 160px;
border-width:4px;
border-style:solid;
}

.page
{
width:950px;
background-color:#000;
margin:0 auto;
height: 800px;
border-width:4px;
border-style:solid;

}

.page2
{
width:900px;
background-color:#FFF;
margin:0 auto;
height: 740px;
margin-top:15px;
margin-bottom:25px;
}

body
{
background-color:#FFF;
}

.cordlink{ 
text-decoration:none; 
color:#000000; 
} 
/* CSS Document */

